/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Add your custom styles or overrides here */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

span.category-title {
    font-family: 'Lobster', sans-serif;
}

span.shop-now {
    font-family: 'Cormorant Garamond', serif;
}

span.nav-link {
    font-family: 'Abril Fatface', serif;
}

span.signin-text {
    font-family: 'Dekko', cursive;
}

span.signin-button {
    font-family: 'EB Garamond', serif;
}

span.sign-title {
    font-family: 'Archivo Black', sans-serif;
}

span.product {
    font-family: 'Macondo', cursive;
}

span.cart-title {
    font-family: 'Josefin Sans', sans-serif;
}

span.cart-empty {
    font-family: 'DM Serif Display', serif;
}